<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--日志依赖-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--将com.cheny.domain包下的所有类以类名命名，也可在spring配置文件中用bean声明，或加入注解component,再扫描-->
    <typeAliases>
        <package name="com.cheny.domain"/>
    </typeAliases>

    <!--读取com.cheny.dao下的.xml文件-->
    <mappers>
        <!--<mapper resource="com/cheny"></mapper>-->
        <package name="com.cheny.dao"/>
    </mappers>
</configuration>