<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.a1.UserAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/user/loginadd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>find</servlet-name>
        <servlet-class>com.a1.UserFind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>find</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.a1.UserDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>qdelete</servlet-name>
        <servlet-class>com.a1.QuestionDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qdelete</servlet-name>
        <url-pattern>/questiondelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>qtest</servlet-name>
        <servlet-class>com.a1.QuestionTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qtest</servlet-name>
        <url-pattern>/questiontest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>qupdate</servlet-name>
        <servlet-class>com.a1.QuestionUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qupdate</servlet-name>
        <url-pattern>/questionupdate</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>qfi</servlet-name>
    <servlet-class>com.a1.QuestionFindid</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>qfi</servlet-name>
        <url-pattern>/questionfindid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>qc</servlet-name>
        <servlet-class>com.a1.QuestionCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>qc</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>questionf</servlet-name>
        <servlet-class>com.a1.QuestionFind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>questionf</servlet-name>
        <url-pattern>/questionfind</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>questionadd</servlet-name>
        <servlet-class>com.a1.QuestionAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>questionadd</servlet-name>
        <url-pattern>/questionins</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.a1.Userlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping><!--
    <welcome-file-list>
        <welcome-file>index2.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>one</filter-name>
        <filter-class>com.a1.OneFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>one</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.a1.Onelistener</listener-class>
    </listener>
</web-app>